<form action="/todos" method="POST" class="needs-validation" novalidate>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="name"
      name="name"
      required
    />
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>

{{! <script src="/javascripts/main.js"></script> }}